$rosewater: #9CA7E4;
$flamingo: #9EAAD3;
$pink: #68B0FB;
$mauve: #D792C0;
$red: #A9A5D3;
$maroon: #F38695;
$peach: #E08FAD;
$yellow: #95AAE2;
$green: #83ACF2;
$teal: #CF97BE;
$sky: #EE82B9;
$sapphire: #93A8ED;
$blue: #BBA0C9;
$lavender: #ABABAE;
$text: #E1E0F5;
$subtext1: #B5B3E4;
$subtext0: #9995D6;
$overlay2: #5A5398;
$overlay1: #4F4787;
$overlay0: #433C75;
$surface2: #383263;
$surface1: #2C2751;
$surface0: #211D3E;
$base: #15122B;
$mantle: #100D23;
$crust: #0B081A;
$palette: (
    "rosewater": #9CA7E4,
    "flamingo": #9EAAD3,
    "pink": #68B0FB,
    "mauve": #D792C0,
    "red": #A9A5D3,
    "maroon": #F38695,
    "peach": #E08FAD,
    "yellow": #95AAE2,
    "green": #83ACF2,
    "teal": #CF97BE,
    "sky": #EE82B9,
    "sapphire": #93A8ED,
    "blue": #BBA0C9,
    "lavender": #ABABAE,
    "text": #E1E0F5,
    "subtext1": #B5B3E4,
    "subtext0": #9995D6,
    "overlay2": #5A5398,
    "overlay1": #4F4787,
    "overlay0": #433C75,
    "surface2": #383263,
    "surface1": #2C2751,
    "surface0": #211D3E,
    "base": #15122B,
    "mantle": #100D23,
    "crust": #0B081A,
);
